@font-face {
    font-family: 'Protest';
    src: url(/font/ProtestRevolution-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(/font/Ubuntu-Regular.ttf);
}

.menu{
    background-color: rgb(196, 196, 196);
    padding: 10px;
    text-align: center;
}

.menu li{
    list-style: none;
    display: inline;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu';
}

a:hover{
    color: rgb(2, 124, 189);
}


.hero-container{
    position: relative;
    margin: 0 auto;
}


.hero-text{
    font-family: 'Protest';
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
}


.hero video{
    width: 100%;
}

h3{
    text-align: center;
    font-family: 'Ubuntu';
}




footer{
    background-color: rgb(0, 155, 238);
    text-align: center;
    padding: 5px;
}

footer p{
    font-family: 'Ubuntu';
}